<h2>Welcome to the Hypermedia Api</h2>

<div class="container-fluid">
    <h2>Upload</h2>

    <form id="file-uploader" name="file-uploader" hx-post="/upload" hx-encoding="multipart/form-data">
        <AntiforgeryToken/>
        Failed!!!!!!!!!!!!!!!!!!!!!
    </form>
</div>
@code {

}
